.a{
    background-color: rgb(181, 187, 202);
}

.b{
    background-color: burlywood;
}

.c{
    background-color: chocolate;
}

.d{
    background-color: darkgreen;
}

.e{
    background-color: coral;
}

.f{
    background-color: rgb(102, 121, 69);
}

.g{
    background-color: darkgoldenrod;
}

.h{
    background-color: rgb(105, 95, 52);
}

.i{
    background-color: hotpink;
}

.j{
    background-color: greenyellow;
}

.k{
    background-color: darkmagenta;
}

.l{
    background-color: darkslategrey;
}